#header{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 65px;
    /* UI Properties */
    background-image: linear-gradient(to right, #555555 , #FFFFFF);
    
    box-shadow: 0px 2px 48px #0000000F;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
}
.heading{

    margin-top: -10px;
    margin-left: 30px;
    width: auto;
    height: 27px;
    /* UI Properties */
    text-align: left;
   
    letter-spacing: 1.8px;
    color: red;
    text-transform: uppercase;

    text-shadow: 3px 2px black;
    font-size: larger;
   
}

.list2,.list3{

    border: 0.8px solid rgb(192, 190, 190);
    
}
#rigth-head{
    display: flex;
    height: 57px;
}

.list2{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
    color: #565657;
    height: 63px;
    font-weight: bold;
    
}
.list3{
    display: flex;
    padding-right: 30px;
    /* UI Properties */
    background: #5861AE 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    float: right;

    
}
.Imgcontain{
    display: flex;
}
#Logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 4px;
}
#userName{
    margin-left: 10px;
    margin-top: 17px;
}
.userButton{
    border-color: #5861AE;
    background-color: #5861AE;
    border: none;
  cursor: pointer;
}
.dropbtn {
    background: #da7110 0% 0% no-repeat padding-box;    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-right: 30px;
    height: 66px;
}
  
.dropdown {
    position: relative;
    background-color: #FFFFFF;
    

}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2ad3c5;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
    padding: 12px 16px;
    font-weight: bold;
}
  
.dropdown-content:hover{
    background-color: #c2c2e0;
}  
.dropdown:hover .dropdown-content {
    display: block;
  }
  
.dropdown:hover .dropbtn {
    background-color: #4e3eaa;
}
#Imgcontain{
    display: flex;
}  
