.coverImg {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 940px;
  }

#cover-content{
  display: flex;
}
.text-content{
  font-size:9ch;
  margin-left: 100px;
  margin-top: 60px;
  text-shadow: 4px 2px grey;
}
.para{
  margin-left: 120px;
  color:white;
  text-shadow:4px 2px black;
  font-size: larger;
  margin-top: -40px;
}
#regis-part{
  text-align: center;
  margin-top: 80px;
}
#regis-button{
  width: 150px;
    height: 50px;
    border: 2px solid #4552C1;
    border-radius: 4px;
    opacity: 1;
    font-size: larger;
}
#regis-button:hover{
      cursor: pointer;
      background-color: #4552C1;
      color: white;
}
.gym-login{
  width: 50%;
}
.gym-content{
  width: 60%;
}
.gym-login{
 margin-left:250px;
 margin-top: 30px;
}
.login-form{
  background-color: rgb(243, 236, 236);
  width: 70%;
  height: 70%;
  margin-top: 30px;
}


input{
  width: 290px;
  height: 40px;
  font-size: larger;
  outline: 0;
  border-width: 0 0 2px;
  border-color: grey;
  background-color: rgb(243, 236, 236);
}
.input-field{
  margin-left: 20px;
  margin-top: 30px;
}
.lable{
  margin-top: 20px;
}
.Forgot-password{

  margin-left:200px;
  color: blue;
}
#Button-signin{
 

  
  width: 150px;
  height: 50px;
  border: #5861AE;
  color: white;
  background: #5861AE 0% 0% no-repeat padding-box;
  opacity: 1;
}
#login-b{
  text-align: center;
}
#Button-signin{
  cursor: pointer;
}
.lable{
  font-size: large;
  color: grey;
}

