#Register-comp{
    position: absolute;
    top: 150px;
    margin-left: 170px;
    width: 1000px;
    height: 630px;
    background: #F8F9FF 0% 0% no-repeat padding-box;
    opacity: 0.6;
}
.terms-true{
position: absolute;
top: 662.5px;
left: 480px;
width: 150px;
height: 50px;
background: #5861AE 0% 0% no-repeat padding-box;
border-radius: 4px;
font: normal normal bold 15px/20px Open Sans;
letter-spacing: 0.3px;
color: #FFFFFF;
opacity: 1;
border:#5861AE;
}
.terms-false{
    display: none;
}
.number-validity-true{
display: none;
}
.number-validity-false{
    display: block;
    position: absolute;
    font:italic normal smaller 10/15px open Sans;
    top: 285px;
    left: 267px;
    color: red;
}
#Heading-register{
    position: absolute;
top: 35px;
left: 63px;
width: 157px;
height: 44px;
text-align: left;
font: normal normal 25px/60px Avenir;
letter-spacing: 1.28px;
color: #5861AE;
text-transform: uppercase;
}
.Label-register{
width: 322px;
height: 27px;
text-align: left;
font:  20px/27px Open Sans;
letter-spacing: 0.6px;
color: #101113;
opacity: 1;
font-weight: bold;
/* margin-top: -20px; */
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    margin: 100px 65px;
}
.grid-cell{
    display: flex;
    flex-direction: column;
   margin: 16px 65px 16px 0px;
}
.blue-line-register{
    width: 398px;
    height: 1.5px;
    background-color: #5861AE;
opacity: .87;
}
.blue-line-register,.Label-register, .grid-cell input ,.grid-cell select{
    margin-top: 8px;
}

.grid-cell input, .grid-cell select{ 
        width :  322px;
        height: 22px;
        text-align: left;
        font: normal normal normal 14px/24px Open Sans;
        letter-spacing: 0.6px;
        color: #424548;
        border-style: hidden;
        background-color: #F8F9FF; 
}
.grid-cell select{
    width: 398px;
}
#Button-div-register{
position: absolute;
top: 662.5px;
left: 480px;
width: 150px;
height: 50px;
background: #5861AE 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: .5;
}
#button-content{
    top: 15px;
    position: absolute;
   left: 47px;
    font: normal normal bold 15px/20px Open Sans;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.radio-b{
    display: flex;
    margin-top: -50px;
}
.r1[type="radio"] {
    -ms-transform: scale(0.5); /* IE 9 */
    -webkit-transform: scale(0.5); /* Chrome, Safari, Opera */
    transform: scale(0.6);
    margin-left: 90px;
    margin-top: -10px;
    border-color: #101113;
    margin-right: -110px;
  }
.coverImgregis{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 940px;
}
#buttonRegis{
    width: 150px;
      height: 40px;
      border: 2px solid #4552C1;
      border-radius: 4px;
      opacity: 1;
      font-size: larger;
      margin-left: 420px;
      margin-top:30px;
      
  }
  #buttonRegis:hover{
        cursor: pointer;
        background-color: #4552C1;
        color: white;
  }
  .Userexist-false {
    display:none;
}
.Userexist-true{
    font-size: 14px/20px;
    color: red;
    position: absolute;
    top: 175px;;
    left:530px;  
}
#Name-register, #User-register,#Phone-register,#Password-register, #Address-register,#Age-register{
    font-size: large;
    font-weight: bold;
}